In [1]:
# Define funtion say_hello so it prints "Hello!" when called
def say_hello():
    print('Hello!')

In [9]:
#Call the function
say_hello()

Hello!

In [3]:
# Define the function "say_something" so it prints whatever is passed as the variable when called
def say_something(something):
    print(something)

In [4]:
say_something('Hello World!')

Hello World!

In [5]:
Jane_says = "Hi, my name is Jen. I'm learning Python!"
say_something(Jane_says)

Hi, my name is Jen. I'm learning Python!

In [6]:
# Define a function that calculates the percentage of students that passed both 
# math and reading and returns the passing percentage when the function is called

def passing_math_prcnt(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [7]:
passing_math_count = 29370
total_student_count = 39170

#Call the fucntion

passing_math_prcnt(passing_math_count, total_student_count)

74.9808526933878

In [10]:
# A list of grades
my_grades = ['B', 'C', 'B', 'D']

In [12]:
import pandas as pd

#Convert my_grades to a series

my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [13]:
# Change my_grades series by one letter grade
my_grades.map({'B':'A', 'C':'B', 'D':'C'})

0    A
1    B
2    A
3    C
dtype: object

In [14]:
# Using the format() function

my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print('{:.0f}'.format(grade))

92
85
87
98

In [15]:
my_grades = pd.Series([92.34, 84.56, 86.78, 98.32])
my_grades.map('{:.0f}'.format)

0    92
1    85
2    87
3    98
dtype: object