In [1]:
import pandas as pd
import os
# Files to load using OS.PATH.JOIN()
#school_data_to_load2 = os.path.join("Resrouces", "schools_complete.csv")
#student_data_to_load2 = os.path.join("Resources", "students_complete.csv")

In [2]:
# Files to load
school_data_to_load ="Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Read school data and store in pd.DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

In [4]:
# Get the first rows of the df with .head() and the last rows with .tail()
print(school_data_df.head())
#print(student_data_df.head())
#print(school_data_df.tail())
#print(student_data_df.tail())

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
#Determine if there are missing values with .count()
school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [6]:
student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [7]:
student_data_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [8]:
school_data_df.notnull().sum()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [9]:
student_data_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [10]:
# Data Types with -dtypes of the school df
school_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [11]:
school_data_df.budget.dtypes

dtype('int64')

In [12]:
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [13]:
# Cleaning the prefixes and suffixes in student_names
# Add prefixes and suffixes to remove from student_names in a list
prefixes_suffixes = ['Dr. ', 'Mr. ', 'Ms. ', 'Mrs. ', 'Miss ', ' MD', ' DDS', ' DVM', ' PhD']
# Iterate through prefixes_suffixes list and replace them with an empty space when it appears in the student's name. 
# Since student_names is an object it must convert it to str in order to use thee replace method available ONLY for strings

for word in prefixes_suffixes:
    student_data_df['student_name'] = student_data_df['student_name'].str.replace(word, '', regex = True)
    
print(student_data_df['student_name'].head(10))

0       Paul Bradley
1       Victor Smith
2    Kevin Rodriguez
3      Richard Scott
4         Bonnie Ray
5      Bryan Miranda
6      Sheena Carter
7       Nicole Baker
8       Michael Roth
9     Matthew Greene
Name: student_name, dtype: object

In [14]:
#Check if the module student df is the same as the one cleaned by me
clean_data_to_load =  "Resources/clean_students_complete.csv"

student_data_clean_df = pd.read_csv(clean_data_to_load)

student_data_df['student_name'].equals(student_data_clean_df['student_name'])

True

In [15]:
# Inner merge of student and school df

school_data_complete_df = pd.merge(student_data_df, school_data_df, on ='school_name')
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [16]:
# Get the total number of sutdents
student_count = school_data_complete_df['Student ID'].count()
student_count

39170

In [17]:
# Calculate the total number of schools
school_count = len(school_data_complete_df['school_name'].unique())
school_count

15

In [18]:
#Calculate the total budget
total_budget = school_data_df['budget'].sum()
total_budget

24649428

In [19]:
# Calculate the average reading and math score
avg_reading_score = school_data_complete_df['reading_score'].mean()
print('Avg Reading Score: ' + str(avg_reading_score))
avg_math_score = school_data_complete_df['math_score'].mean()
print('Avg Math Score: ' + str(avg_math_score))

Avg Reading Score: 81.87784018381414
Avg Math Score: 78.98537145774827

In [20]:
# Determine the passing grade for math and reading
passing_math = school_data_complete_df[school_data_complete_df['math_score'] >= 70]
passing_reading = school_data_complete_df[school_data_complete_df['reading_score'] >= 70]
print(passing_math.head())

   Student ID   student_name gender grade        school_name  reading_score  \
0           0   Paul Bradley      M   9th  Huang High School             66
4           4     Bonnie Ray      F   9th  Huang High School             97
5           5  Bryan Miranda      M   9th  Huang High School             94
6           6  Sheena Carter      F  11th  Huang High School             82
8           8   Michael Roth      M  10th  Huang High School             95

   math_score  School ID      type  size   budget
0          79          0  District  2917  1910635
4          84          0  District  2917  1910635
5          94          0  District  2917  1910635
6          80          0  District  2917  1910635
8          87          0  District  2917  1910635

In [21]:
# Calculate the number of students who passed math and reading
passing_math_count = passing_math['student_name'].count()
passing_reading_count = passing_reading['student_name'].count()
print(passing_math_count, passing_reading_count)

29370 33610

In [22]:
# Calculate the prcnt of passed math and reding
passing_math_prcnt = passing_math_count / float(student_count) * 100
passing_reading_prcnt = passing_reading_count / float(student_count) * 100
print(passing_math_prcnt , passing_reading_prcnt)

74.9808526933878 85.80546336482001

In [23]:
# Calculate the number of sutdents who passed both math and reading
passing_math_reading = school_data_complete_df[(school_data_complete_df['math_score']>= 70) & (school_data_complete_df['reading_score']>=70)]
passing_math_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [24]:
# Calculate the number of students who passed both math and reading
overall_passing_math_reading_count = passing_math_reading.student_name.count()
#Caclulate the prcnt of students who passed both math and reading
overall_passing_prcnt = overall_passing_math_reading_count / student_count * 100
overall_passing_prcnt

65.17232575950983

In [25]:
# Adding a list of values with keys to create the summary DF
district_summary_df = pd.DataFrame(
            [{'Total Schools' : school_count,
             'Total Students' : student_count,
             'Total Budget' : total_budget,
             'Average Math Score': avg_math_score,
             'Average Reading Score' : avg_reading_score,
             '% Passing Math': passing_math_prcnt,
             '% Passing Reading': passing_reading_prcnt,
             '% Overall Passing': overall_passing_prcnt}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [26]:
# Format 'Total Students' with a comma for the thousands separator
district_summary_df['Total Students'] = district_summary_df['Total Students'].map('{:,}'.format)
district_summary_df['Total Students']

0    39,170
Name: Total Students, dtype: object

In [27]:
# Format 'Total Budget' with thousand separator, a decimal separator and a '$'
district_summary_df['Total Budget'] = district_summary_df['Total Budget'].map("${:,.2f}".format)
district_summary_df['Total Budget']

0    $24,649,428.00
Name: Total Budget, dtype: object

In [28]:
# Format the rest of the columns
district_summary_df['Average Math Score'] = district_summary_df['Average Math Score'].map('{:.1f}'.format)
district_summary_df['Average Reading Score'] = district_summary_df['Average Reading Score'].map('{:.1f}'.format)
district_summary_df['% Passing Math'] = district_summary_df['% Passing Math'].map('{:.0f}'.format)
district_summary_df['% Passing Reading'] = district_summary_df['% Passing Reading'].map('{:.0f}'.format)
district_summary_df['% Overall Passing'] = district_summary_df['% Overall Passing'].map('{:.0f}'.format)

In [29]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [30]:
#### DISTRICT SUMMARY
#Determine the school type

per_school_types = school_data_df.set_index(['school_name'])['type']
per_school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [31]:
# Add the per_school_type to a DF for testing

df = pd.DataFrame(per_school_types)
df = df.rename(columns = {'type':'School Types'})
df

                      School Types
school_name
Huang High School         District
Figueroa High School      District
Shelton High School        Charter
Hernandez High School     District
Griffin High School        Charter
Wilson High School         Charter
Cabrera High School        Charter
Bailey High School        District
Holden High School         Charter
Pena High School           Charter
Wright High School         Charter
Rodriguez High School     District
Johnson High School       District
Ford High School          District
Thomas High School         Charter

In [32]:
# Calculate the total student count based on school_data_df
per_school_counts = school_data_df['size']
per_school_counts

0     2917
1     2949
2     1761
3     4635
4     1468
5     2283
6     1858
7     4976
8      427
9      962
10    1800
11    3999
12    4761
13    2739
14    1635
Name: size, dtype: int64

In [33]:
# Calculate the total student count based on school_data_df and set_index() to school_name
per_school_counts = school_data_df.set_index(['school_name'])['size']
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [34]:
# Calculate the total student count based on school_data_complete_df
per_school_counts = school_data_complete_df['school_name'].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [35]:
# Calculate the total school budget with school_data_df

per_school_budget = school_data_df.set_index(['school_name'])['budget']
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [36]:
# Calculate the per capita spending

per_school_capita = per_school_budget / per_school_counts
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [37]:
# Calculate the math score on school_data_df 

student_school_math = student_data_df.set_index(['school_name'])['math_score']

In [38]:
# Calculate the average math score using groupby()

per_school_avg = school_data_complete_df.groupby(['school_name']).mean()
per_school_avg

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0
Hernandez High School,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0
Holden High School,23060.0,83.814988,83.803279,8.0,427.0,248087.0
Huang High School,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0
Johnson High School,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0
Pena High School,23754.5,84.044699,83.839917,9.0,962.0,585858.0
Rodriguez High School,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0
Shelton High School,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0
Thomas High School,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0
Wilson High School,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0
Wright High School,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0

In [39]:
# Calculate the avg test scores
per_school_math = school_data_complete_df.groupby(['school_name']).mean()['math_score']
per_school_reading = school_data_complete_df.groupby(['school_name']).mean()['reading_score']

In [40]:
# Calculate the passing scores by creating a filtered DF
per_school_passing_math = school_data_complete_df[(school_data_complete_df['math_score'] >= 70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df['reading_score'] >= 70)]

In [41]:
# Calculate the number of students passing math and passing reading by school

per_school_passing_math = per_school_passing_math.groupby(['school_name']).count()['student_name']
per_school_passing_reading = per_school_passing_reading.groupby(['school_name']).count()['student_name']

In [42]:
# Calcualte the prcnt of passing math and reading per school

per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

In [43]:
# Calculate the students who passed both math and reading

per_passing_math_reading = school_data_complete_df[(school_data_complete_df['math_score'] >= 70) & (school_data_complete_df['reading_score'] >= 70)]
per_passing_math_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [44]:
# Calculate the number of students who passed both math and reading
per_passing_math_reading = per_passing_math_reading.groupby(['school_name']).count()['student_name']

In [45]:
# Calcuate the overall passing prcnt by school

per_overall_passing_prcnt = per_passing_math_reading / per_school_counts * 100

In [49]:
per_school_summary_df = pd.DataFrame({
    'School Type' : per_school_types,
    'Total Students': per_school_counts,
    'Total School Budget': per_school_budget,
    'Per Student Budget': per_school_capita,
    'Average Math Score': per_school_math,
    'Average Reading Score': per_school_reading,
    '% Passing Math': per_school_passing_math,
    '% Passing Reading': per_school_passing_reading,
    '% Overall Passing': per_overall_passing_prcnt})
per_school_summary_df.head()
print(per_school_summary_df.loc['Thomas High School',:])

School Type                Charter
Total Students                1635
Total School Budget        1043130
Per Student Budget           638.0
Average Math Score       83.418349
Average Reading Score     83.84893
% Passing Math           93.272171
% Passing Reading        97.308869
% Overall Passing        90.948012
Name: Thomas High School, dtype: object

In [ ]:
per_school_summary_df.info()

In [ ]:
# Formatting School Summary
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)
per_school_summary_df.head()

In [ ]:
top_schools = per_school_summary_df.sort_values(['% Overall Passing'], ascending= False)
top_schools.head()

In [ ]:
bottom_schools = per_school_summary_df.sort_values(['% Overall Passing'], ascending= True)
bottom_schools.head()

In [ ]:
# Grade level DF
ninth_graders = school_data_complete_df[(school_data_complete_df['grade'] == '9th')]
tenth_graders = school_data_complete_df[(school_data_complete_df['grade'] == '10th')]
eleventh_graders = school_data_complete_df[(school_data_complete_df['grade'] == '11th')]
twelfth_graders = school_data_complete_df[(school_data_complete_df['grade'] == '12th')]

In [ ]:
ninth_graders.head()

In [ ]:
# Avg math and reading score per grade level by school
ninth_grade_math_scores = ninth_graders.groupby(['school_name']).mean()['math_score']
tenth_grade_math_scores = tenth_graders.groupby(['school_name']).mean()['math_score']
eleventh_grade_math_scores = eleventh_graders.groupby(['school_name']).mean()['math_score']
twelfth_grade_math_scores = twelfth_graders.groupby(['school_name']).mean()['math_score']

ninth_grade_reading_scores = ninth_graders.groupby(['school_name']).mean()['reading_score']
tenth_grade_reading_scores = tenth_graders.groupby(['school_name']).mean()['reading_score']
eleventh_grade_reading_scores = eleventh_graders.groupby(['school_name']).mean()['reading_score']
twelfth_grade_reading_scores = twelfth_graders.groupby(['school_name']).mean()['reading_score']

In [ ]:
print(eleventh_grade_math_scores['Pena High School'], twelfth_grade_reading_scores['Shelton High School'])

In [ ]:
# DF of avg math scores by each grade level Sereis by school
math_scores_by_grade = pd.DataFrame({
    '9th': ninth_grade_math_scores,
    '10th' : tenth_grade_math_scores,
    '11th' : eleventh_grade_math_scores,
    '12th' : twelfth_grade_math_scores})
math_scores_by_grade.head()

In [ ]:
# DF of avg reading scores by each grade level Sereis by school
reading_scores_by_grade = pd.DataFrame({
    '9th': ninth_grade_reading_scores,
    '10th' : tenth_grade_reading_scores,
    '11th' : eleventh_grade_reading_scores,
    '12th' : twelfth_grade_reading_scores})
reading_scores_by_grade.head()

In [ ]:
# Format each math grade column to one decimal point
math_scores_by_grade['9th'] = math_scores_by_grade['9th'].map('{:.1f}'.format)
math_scores_by_grade['10th'] = math_scores_by_grade['10th'].map('{:.1f}'.format)
math_scores_by_grade['11th'] = math_scores_by_grade['11th'].map('{:.1f}'.format)
math_scores_by_grade['12th'] = math_scores_by_grade['12th'].map('{:.1f}'.format)

In [ ]:
# Set columns to the correct order
math_scores_by_grade = math_scores_by_grade[['9th', '10th', '11th', '12th']]
# Remove index name
math_scores_by_grade.index.name = None
math_scores_by_grade.head()

In [ ]:
# Format each reading grade column to one decimal point
reading_scores_by_grade['9th'] = reading_scores_by_grade['9th'].map('{:.1f}'.format)
reading_scores_by_grade['10th'] = reading_scores_by_grade['10th'].map('{:.1f}'.format)
reading_scores_by_grade['11th'] = reading_scores_by_grade['11th'].map('{:.1f}'.format)
reading_scores_by_grade['12th'] = reading_scores_by_grade['12th'].map('{:.1f}'.format)

#Set columns in the correct order
reading_scores_by_grade = reading_scores_by_grade[['9th', '10th', '11th', '12th']]
#Remove index name
reading_scores_by_grade.index.name = None
reading_scores_by_grade.head()

In [ ]:
# per school capita statistics
per_school_capita.describe()

In [ ]:
# Spending bins and group names
spending_bins = [0, 585, 630, 645, 675]
group_names = ['<$586',  '$586-630', '$631-645', '$646-675']
per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()

In [ ]:
# Categorize spending based on bins
per_school_summary_df['Spending Ranges (Per Student)'] = pd.cut(per_school_capita, spending_bins, labels = group_names)
per_school_summary_df.head()

In [ ]:
# Calculate average

spending_math_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]

spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]

spending_passing_math = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]

spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]

overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [ ]:
# DF with calculated averages by spending ranges
spending_summary_df = pd.DataFrame({
    'Average Math Score' : spending_math_scores,
    'Average Reading Score' : spending_reading_scores,
    '% Passing Math' : spending_passing_math,
    '% Passing Reading' : spending_passing_reading,
    '% Overall Passing' : overall_passing_spending})
spending_summary_df.head()

In [ ]:
# Applying format 
spending_summary_df['Average Math Score'] = spending_summary_df['Average Math Score'].map('{:.1f}'.format)
spending_summary_df['Average Reading Score'] = spending_summary_df['Average Reading Score'].map('{:.1f}'.format)
spending_summary_df['% Passing Math'] = spending_summary_df['% Passing Math'].map('{:.0f}'.format)
spending_summary_df['% Passing Reading'] = spending_summary_df['% Passing Reading'].map('{:.0f}'.format)
spending_summary_df['% Overall Passing'] = spending_summary_df['% Overall Passing'].map('{:.0f}'.format)
spending_summary_df.head()

In [ ]:
# Bins by school size and group names
size_bins = [0, 999, 1999, 5000]
group_names = ['Small (<1000)', 'Medium (1000-1999)', 'Large (2000-5000)']

#Categorizing spending by school size bins
per_school_summary_df['School Size']= pd.cut(per_school_summary_df['Total Students'], size_bins, labels = group_names)

per_school_summary_df.head()

In [ ]:
# Calculate average

size_math_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Math Score"]

size_reading_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]

size_passing_math = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]

size_passing_reading = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Reading"]

size_overall_passing = per_school_summary_df.groupby(["School Size"]).mean()["% Overall Passing"]

In [ ]:
# DF with calculated averages by school size
size_summary_df = pd.DataFrame({
    'Average Math Score' : size_math_scores,
    'Average Reading Score' : size_reading_scores,
    '% Passing Math' : size_passing_math,
    '% Passing Reading' : size_passing_reading,
    '% Overall Passing' : size_overall_passing})
size_summary_df.head()

In [ ]:
# Applying format 
size_summary_df['Average Math Score'] = size_summary_df['Average Math Score'].map('{:.1f}'.format)
size_summary_df['Average Reading Score'] = size_summary_df['Average Reading Score'].map('{:.1f}'.format)
size_summary_df['% Passing Math'] = size_summary_df['% Passing Math'].map('{:.0f}'.format)
size_summary_df['% Passing Reading'] = size_summary_df['% Passing Reading'].map('{:.0f}'.format)
size_summary_df['% Overall Passing'] = size_summary_df['% Overall Passing'].map('{:.0f}'.format)
size_summary_df.head()

In [ ]:
# Averages of scores by School Type
type_math_scores = per_school_summary_df.groupby(['School Type']).mean()['Average Math Score']
type_reading_scores = per_school_summary_df.groupby(['School Type']).mean()['Average Reading Score']
type_passing_math = per_school_summary_df.groupby(['School Type']).mean()['% Passing Math']
type_passing_reading = per_school_summary_df.groupby(['School Type']).mean()['% Passing Reading']
type_overall_passing = per_school_summary_df.groupby(['School Type']).mean()['% Overall Passing']

In [ ]:
# DF with calculated averages by School Type
type_summary_df = pd.DataFrame({
    'Average Math Score' : type_math_scores,
    'Average Reading Score' : type_reading_scores,
    '% Passing Math' : type_passing_math,
    '% Passing Reading' : type_passing_reading,
    '% Overall Passing' : type_overall_passing})
type_summary_df.head()

In [ ]:
#Formatting
type_summary_df['Average Math Score']=type_summary_df['Average Math Score'].map('{:.1f}'.format)
type_summary_df['Average Reading Score']=type_summary_df['Average Reading Score'].map('{:.1f}'.format)
type_summary_df['% Passing Math']=type_summary_df['% Passing Math'].map('{:.0f}'.format)
type_summary_df['% Passing Reading']=type_summary_df['% Passing Reading'].map('{:.0f}'.format)
type_summary_df['% Overall Passing']=type_summary_df['% Overall Passing'].map('{:.0f}'.format)

type_summary_df