In [1]:
import pandas as pd
import os
# Files to load using OS.PATH.JOIN()
#school_data_to_load2 = os.path.join("Resrouces", "schools_complete.csv")
#student_data_to_load2 = os.path.join("Resources", "students_complete.csv")

In [2]:
# Files to load
school_data_to_load ="Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Read school data and store in pd.DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

In [4]:
# Get the first rows of the df with .head() and the last rows with .tail()
print(school_data_df.head())
#print(student_data_df.head())
#print(school_data_df.tail())
#print(student_data_df.tail())

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
#Determine if there are missing values with .count()
school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [6]:
student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [7]:
student_data_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [8]:
school_data_df.notnull().sum()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [9]:
student_data_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [10]:
# Data Types with -dtypes of the school df
school_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [11]:
school_data_df.budget.dtypes

dtype('int64')

In [12]:
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [13]:
# Cleaning the prefixes and suffixes in student_names
# Add prefixes and suffixes to remove from student_names in a list
prefixes_suffixes = ['Dr. ', 'Mr. ', 'Ms. ', 'Mrs. ', 'Miss ', ' MD', ' DDS', ' DVM', ' PhD']
# Iterate through prefixes_suffixes list and replace them with an empty space when it appears in the student's name. 
# Since student_names is an object it must convert it to str in order to use thee replace method available ONLY for strings

for word in prefixes_suffixes:
    student_data_df['student_name'] = student_data_df['student_name'].str.replace(word, '', regex = True)
    
print(student_data_df['student_name'].head(10))

0       Paul Bradley
1       Victor Smith
2    Kevin Rodriguez
3      Richard Scott
4         Bonnie Ray
5      Bryan Miranda
6      Sheena Carter
7       Nicole Baker
8       Michael Roth
9     Matthew Greene
Name: student_name, dtype: object